/* 1        element selector */

p{

border: 0.5cm solid red;
}

/* 2     . is used for class selector */
/* class element */

.red
{
    color: blueviolet;
}

/*3       #is used for id slector */
/* id element */


#yellow
{

    color: blue;
}

/* 4              this is a grouping selector */
span,div
{
    color: red;
}